// Supports weights 200-900
@import '@fontsource-variable/nunito';

:root {
  --max-width: 1100px;
  --font-headline: 'cyrene';
  --font-family-text: 'Nunito Variable', sans-serif;
  --color-background: #f4e8dd;
  --color-button: #003da5;
  --primary-color: #dc1c2e;
  --secondary-color: #003da5;
  --font-family-headline: cyrene;
  --text-size: 20px;
  --h2-size: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #f4e8dd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: cyrene, sans-serif;
  color: var(--secondary-color);
}

header {
  position: sticky;
}

nav {
  font-family: var(--font-family-text);
  color: var(--primary-color);
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  padding: 10px;
  gap: 1rem;
  display: flex;
  align-items: center;

  .navText {
    align-items: center;
    display: flex;
  }

  .logo {
    width: 2rem;
    opacity: 1;
    margin-right: 1rem;
  }
  .icon {
    opacity: 1;
    margin-left: 10rem;
    display: flex;
    align-items: center;
  }
  .icon a {
    width: 2rem;
    margin-left: 1rem;
  }

  @media screen and (max-width: 500px) {
    .nav {
      display: block;
      position: relative;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .icon {
      display: inline-block;
      margin-left: 1rem;
      align-items: center;
      justify-content: center;
      margin-top: -10px;
    }

    .logo {
      font-size: 1rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--color-button);
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  border: 2px solid var(--color-button);
  font-family: var(--font-family-text);

  &:hover {
    background-color: white;
    border: 2px solid var(--color-button);
    cursor: pointer;
    color: var(--color-button);
  }
}

img {
  border-radius: 15px;
}
